<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>视频房源</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>近地铁</string>
				<key>selected</key>
				<true/>
			</dict>
		</array>
		<key>radio</key>
		<false/>
		<key>type</key>
		<string>特色</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>整租</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>合租</string>
				<key>selected</key>
				<true/>
			</dict>
		</array>
		<key>radio</key>
		<false/>
		<key>type</key>
		<string>类型</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>南</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>北</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>南北</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>东西</string>
				<key>selected</key>
				<true/>
			</dict>
		</array>
		<key>radio</key>
		<false/>
		<key>type</key>
		<string>朝向</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>毛胚</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>简单装修</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>中等装修</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>精装修</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>豪华装修</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>其他</string>
				<key>selected</key>
				<true/>
			</dict>
		</array>
		<key>radio</key>
		<false/>
		<key>type</key>
		<string>装修</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>普通住宅</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>公寓</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>别墅</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>平房</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>酒店公寓</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>商住两用</string>
				<key>selected</key>
				<true/>
			</dict>
		</array>
		<key>radio</key>
		<false/>
		<key>type</key>
		<string>房屋类型</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>个人</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>经纪人</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>品牌公寓</string>
				<key>selected</key>
				<true/>
			</dict>
		</array>
		<key>radio</key>
		<true/>
		<key>type</key>
		<string>来源</string>
	</dict>
</array>
</plist>
